:root {
  --border: 3px solid white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color:rgb(94, 94, 94);
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 318px;
  height: 318px;
  background-color: white;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid rgb(0, 0, 0);
  font-size: 3rem;
}

#one {
  border-top: var(--border);
  border-left: var(--border);
}

#two {
  border-top: var(--border);
}

#three {
  border-top: var(--border);
  border-right: var(--border);
}

#four {
  border-left: var(--border);
}

#six {
  border-right: var(--border);
}

#seven {
  border-left: var(--border);
  border-bottom: var(--border);
}

#eight {
  border-bottom: var(--border);
}

#nine {
  border-right: var(--border);
  border-bottom: var(--border);
}

#playBtn {
  background-color: green;
}

#resetBtn {
  background-color: red;
}

#modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#addPlayers {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #888;
  width: 40%;
  min-width: 185px;
  display: grid;
  gap: 10px;
}